/* Constants */
BODY 					{	font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; color: #AEAEAE; background: #000000;
 scrollbar-3d-light-color: #999999;
 scrollbar-arrow-color: #AEAEAE;
 scrollbar-base-color: #666666;
 scrollbar-dark-shadow-color: #000000;
 scrollbar-face-color: #363636;
 scrollbar-highlight-color: #AEAEAE;
 scrollbar-shadow-color: #111111;
 scrollbar-track-color: #222222; }
BUTTON 				{	cursor: auto; }
INPUT 				{	cursor: auto; }
LI 						{	 }
OL 						{	font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; color: #AEAEAE; list-style: decimal; }
UL UL OL OL, UL OL UL OL, OL UL OL OL, OL OL UL OL, OL UL OL, OL OL {	font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; color: #AEAEAE; list-style: lower-alpha;}
OL UL OL OL, OL OL UL OL, UL OL OL OL, OL OL OL {	font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; color: #AEAEAE; list-style: lower-roman; }
OL OL OL OL 	{	list-style: decimal; }
TEXTAREA 			{	cursor: text; }
UL 						{	font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; color: #AEAEAE; list-style: disc; }
UL UL, OL OL UL UL, OL UL OL UL, UL OL OL UL, OL UL UL, UL OL UL { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; color: #AEAEAE; list-style: circle; }
OL UL UL UL, UL OL UL UL, UL UL OL UL, UL UL UL {	font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; color: #AEAEAE; list-style: square; }
UL UL UL UL 	{	font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; color: #AEAEAE; list-style: disc; }

/* Fix for NN 6.2 */
TR.decoration img { display: block; }

/* Classes */
.cookieTrail					{ font-size: 9px; color: #BC332C; background: #000000; }
.cookieTrail A				{ font-size: 9px; color: #BC332C; background: #000000; text-decoration: underline; }
.cookieTrail A:hover	{ color: #BC332C; background: #34080B; text-decoration: underline; }

.copyright					{ font-size: 9px; color: #BC332C; background: #561217; }
.copyright A				{ font-size: 9px; color: #BC332C; background: #561217; text-decoration: underline; }
.copyright A:hover	{ color: #BC332C; background: #34080B; text-decoration: underline; }

.headMain			{ font-family: "Times New Roman", Times, serif; font-size: 22px; font-weight: bold; color: #AEAEAE; background: transparent; }

.nav					{ font-size: 10px; color: #AEAEAE; background: #34080B; }
.nav A				{ font-size: 10px; color: #BC332C; background: #34080B; text-decoration: none; }
.nav A:hover	{ color: #BC332C; background: #561217; text-decoration: underline; }

.navON A			{ font-size: 10px; color: #BC332C; background: #34080B; text-decoration: underline; }

.text						{ font-size: 10px; color: #AEAEAE; background: transparent; }
.text A					{ font-size: 10px; color: #BC332C; background: transparent; text-decoration: underline; }
.text A:hover		{ color: #BC332C; background: #363636; text-decoration: underline; }

/* --Backgrounds */
.bgGreyA			{ background: #363636; }
.bgGreyB			{ background: #222222; }
.bgRedA				{ background: #561217; }
.bgRedB				{ background: #34080B; }

/* Elements */