wwwRoot/articles/wp-config.php
wwwRoot/pages/phpForum/config.php
assets/accounts/*
assets/movies/arch2b/Arch2BEnduro10.wmv
assets/movies/crazydave/bajatrip.avi
assets/movies/crazydave/bajatrip2.avi
assets/movies/crazydave/prostock.avi
assets/movies/ynad/benz_sm.avi
assets/movies/ynad/benz_sm2.avi
assets/movies/ynad/benz_sm3.avi
archive\backups/*
archive/backups/backup_1572655948_44804088b2fe9879.sql.gz
rchive\wwwRoot2002\secured/*
archive\wwwRoot2003\secured/*
archive\wwwRoot2004\httpdocs\secured/*
archive\wwwRoot2005\secured/*
archive\wwwRoot2006\secured/*

