/**********************/
/*	Fonts							*/
/**********************/
dd, div, dl, dt, form, ol, p, td, th, ul, li {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#3A4942;
}
a {
	color:#EF4427;
	font-weight:bold;
	text-decoration:underline;
}
a:hover {
	color:#3A4942;
}
body {
	font-family:Arial, Helvetica, sans-serif;
	margin:0;
	background-image:url(images/bg_page.jpg);
	background-repeat:repeat-x;
	background-color:#1C1C1C;
	scrollbar-face-color: #CBD0CD;
	scrollbar-highlight-color: #E4E4E4;
	scrollbar-shadow-color: #5F6D67;
	scrollbar-3dlight-color: #B9C0BC;
	scrollbar-arrow-color:  #3A4942;
	scrollbar-track-color: #DADEDB;
	scrollbar-darkshadow-color: #3A4942;
}
div {
	padding:0;
	margin:0;
}
h1, h2, h3, h4, h5, h6 {
	margin:0px;
	padding:0px;
}
/**********************/
/*	Layout						*/
/**********************/
#container {
	margin:10px 50px 7px 50px;
	border:1px solid #E4E4E4;
	background-color:#000;
}
#container #header {
	height:72px;
	background-color:#000;
	background-image:url(images/bg_head.jpg);
	background-repeat:no-repeat;
	background-position:right;
	border-bottom:1px solid #E4E4E4;
}
#container #header #logo {
	width:170px;
	float:left;
}
#container #container_body {
	background-color:#000;
	padding:2px;
}
#container #container_body #content {
	background-color:#E4E4E4;
	border-top:2px solid #000;
	padding:15px 15px 40px 15px;
}
#copyright {
	color:#606060;
	font-size:11px;
	text-align:right;
	margin:0px 50px 0px 50px;
	padding:0 15px 50px 15px;
}
/**********************/
/*	Navigation				*/
/**********************/
#nav {
	width:308px;
	height:20px;
	float:right;
	margin:52px 0px 0px 0px;
	padding:0;
}
#nav ul
{
	border:0;
	margin:0;
	padding:0;
	list-style-type:none;
	text-align:center;
}

#nav ul li
{
	display:block;
	float:left;
	text-align:center;
	padding:0;
	margin: 0px 2px 0px 0px;
}

#nav ul li a
{
	background-color:#727272;
	width:75px;
	height:20px;
	padding:0;
	margin:0;
	color:#CBD0CD;
	text-decoration:none;
	display:block;
	text-align:center;
	font:bold 12px/18px Arial, Helvetica, sans-serif;
}

#nav ul li a:hover
{
	color: #FFDDAB;
	background-color: #929292;
}

#nav a:active
{
	background: #727272;
	color: #EF4427;
}

#nav li#active a
{
	background: #727272;
	color: #EF4427;
}
/**********************/
/*	RotM							*/
/**********************/
.rotmHeader {
	height:25px;
	padding-right:15px;
	padding-left:15px;
	background-color:#3A4942;
}
.rotmCopy {
	height:118px;
	padding-top:10px;
	padding-right:15px;
	padding-left:15px;
	background-color:#CBD0CD;
}
.rotmCopy a {
	color:#3A4942;
}
.rotmCopy a:hover {
	color:#EF4427;
}