# BEGIN WPSuperCache
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /articles/
AddDefaultCharset UTF-8
RewriteCond %{REQUEST_URI} !^.*[^/]$
RewriteCond %{REQUEST_URI} !^.*//.*$
RewriteCond %{REQUEST_METHOD} !=POST
RewriteCond %{QUERY_STRING} !.*=.*
RewriteCond %{HTTP:Cookie} !^.*(comment_author_|wordpress|wp-postpass_).*$
RewriteCond %{HTTP:Accept-Encoding} gzip
RewriteCond %{DOCUMENT_ROOT}/home/.diggin/lixlink/bitpimps.lixlink.com/articles/wp-content/cache/supercache/%{HTTP_HOST}/articles/$1/index.html.gz -f
RewriteRule ^(.*) /home/.diggin/lixlink/bitpimps.lixlink.com/articles/wp-content/cache/supercache/%{HTTP_HOST}/articles/$1/index.html.gz [L]

RewriteCond %{REQUEST_URI} !^.*[^/]$
RewriteCond %{REQUEST_URI} !^.*//.*$
RewriteCond %{REQUEST_METHOD} !=POST
RewriteCond %{QUERY_STRING} !.*=.*
RewriteCond %{HTTP:Cookie} !^.*(comment_author_|wordpress|wp-postpass_).*$
RewriteCond %{DOCUMENT_ROOT}/home/.diggin/lixlink/bitpimps.lixlink.com/articles/wp-content/cache/supercache/%{HTTP_HOST}/articles/$1/index.html -f
RewriteRule ^(.*) /home/.diggin/lixlink/bitpimps.lixlink.com/articles/wp-content/cache/supercache/%{HTTP_HOST}/articles/$1/index.html [L]
</IfModule>
# END WPSuperCache

# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /articles/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /articles/index.php [L]
</IfModule>
# END WordPress
