<html>
<table border="0" cellpadding="1" cellspacing="0" bgcolor="#000080" width="100%">
  <tr valign="top"> 
    <td colspan="2"> 
      <table width="100%" border="0" cellspacing="0" cellpadding="0" align="right" height="100%">
        <tr> 
          <td align="left" bgcolor="#000080" height="16"><font color="#FFFFFF" size="-1"><b>&nbsp;Nicklist</b></font></td>
          <td align="left" bgcolor="#F0F8FF" height="16"><img height=18 src="templates/end.gif" width=45></td>
        </tr>
        <tr valign="top"> 
          <td bgcolor="#F0F8FF" colspan="2"> 
            <table width="100%" border="0" height="100%">
              <tr valign="top"> 
                <td> 
                  <form name="nicklist">
                  <input type="hidden" name="is_op" value="{IS_OP}">
                  <p>{NICKLIST}</p>
                  </form>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
</html>