<frameset rows="80%,*" border=0>
  <frameset cols="75%,*" border=0>
    <frame name="frm_chat" src="chat_bot.php3?{SESS_NAME}={SESS_ID}" marginwidth=0 marginheight=0 frameborder=0>
    <frame name="frm_nicklist" src="chat_nicklist.php3?{SESS_NAME}={SESS_ID}"  marginwidth=0 marginheight=0 frameborder=0>
  </frameset>
  <frameset cols="75%,*" border=0>
    <frame name="frm_input" src="chat_input.php3?{SESS_NAME}={SESS_ID}" marginwidth=0 marginheight=0 frameborder=0>
    <frame name="frm_actions" src="chat_actions.php3?{SESS_NAME}={SESS_ID}" marginwidth=0 marginheight=0 frameborder=0>
  </frameset>
</frameset>