<table border="0" cellpadding="1" cellspacing="0" bgcolor="#000080" width="100%">
  <tr valign="top"> 
    <td colspan="2"> 
      <table width="100%" border="0" cellspacing="0" cellpadding="0" height="100%" align="right">
        <tr> 
          <td align="left" bgcolor="#000080" height="16"><font color="#FFFFFF" size="-1"><b>&nbsp;Whois 
            for {NICK}</b></font></td>
          <td align="left" bgcolor="#F0F8FF" height="16"><img height=18 src="templates/end.gif" width=45></td>
        </tr>
        <tr valign="top"> 
          <td bgcolor="#F0F8FF" colspan="2"> 
            <table width="100%" border="0" height="100%">
              <tr valign="top"> 
                <td> 
                  <table>
                    <tr> 
                      <td bgcolor="#EBEBEB">{NICK}:</td>
                      <td>{IDENT}@{HOST}</td>
                    </tr>
                    <tr> 
                      <td bgcolor="#EBEBEB">Name:</td>
                      <td>{REALNAME}</td>
                    </tr>
                    <tr> 
                      <td bgcolor="#EBEBEB">Channels:</td>
                      <td>{CHANNELS}</td>
                    </tr>
                    <tr> 
                      <td bgcolor="#EBEBEB">Server:</td>
                      <td>{SERVER} ({SERVER_INFO})</td>
                    </tr>
                    <tr> 
                      <td bgcolor="#EBEBEB">Idle:</td>
                      <td>{IDLE}</td>
                    </tr>
                    <tr>
                      <td bgcolor="#EBEBEB">Away:</td>
                      <td>{AWAY}</td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>